.profile__info {
  display: grid;
  grid-template-rows: 60px 60px;
  grid-template-columns: 120px max-content max-content;
  margin: 37px 0 0 0;
}

@media (max-width: 1050px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}